.changePass{
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/bg2.jpg');
    background-size: 100%;
    background-size: cover;
    height: 790px;
}
input{
    margin: 10px;
}
.card-header{
    background: rgb(186 201 196);
}
