<div class="changePass">
  <div class="card">
    <div class="card-header">
      <h2>Don't worry this page help you too change your password set your New password</h2> 
    </div>
    <div class="card-body">
      <input type="text" class="form-control" placeholder="Enter EmployeeId" [(ngModel)]="empid">
      <input type="text" *ngIf="show" class="form-control" placeholder="Enter Password" [(ngModel)]="newpassword">
      <input type="button" *ngIf="show1" value="GetEmployee" (click)="getEmployeeData()">
      <input type="button" *ngIf="show2" value="Update password" (click)=" upDatePassword()">
    </div>
  </div>
</div>